USE [master]
GO
/****** Object:  Database [LaptopStoreDB]    Script Date: 1/1/2026 3:26:07 PM ******/
CREATE DATABASE [LaptopStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LaptopStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LaptopStoreDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LaptopStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\LaptopStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LaptopStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LaptopStoreDB]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 1/1/2026 3:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[TenDN] [nvarchar](15) NOT NULL,
	[MatKhau] [nvarchar](15) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[TenDN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDatHang]    Script Date: 1/1/2026 3:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDatHang](
	[MaLaptop] [int] NOT NULL,
	[SoDH] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[DonGia] [decimal](18, 2) NULL,
	[ThanhTien] [decimal](18, 2) NULL,
 CONSTRAINT [PK_CTDatHang] PRIMARY KEY CLUSTERED 
(
	[MaLaptop] ASC,
	[SoDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatHang]    Script Date: 1/1/2026 3:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatHang](
	[SoDH] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NULL,
	[NgayDH] [datetime] NULL,
	[TriGia] [decimal](18, 2) NULL,
	[DaGiao] [bit] NULL,
	[NgayGiao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SoDH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangSanXuat]    Script Date: 1/1/2026 3:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangSanXuat](
	[MaHang] [int] IDENTITY(1,1) NOT NULL,
	[TenHang] [nvarchar](100) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[DienThoai] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 1/1/2026 3:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[HoTenKH] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](150) NULL,
	[DienThoai] [nvarchar](15) NULL,
	[TenDN] [nvarchar](15) NULL,
	[MatKhau] [nvarchar](15) NULL,
	[NgaySinh] [datetime] NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laptop]    Script Date: 1/1/2026 3:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laptop](
	[MaLaptop] [int] IDENTITY(1,1) NOT NULL,
	[TenLaptop] [nvarchar](100) NULL,
	[MaLoai] [int] NULL,
	[MaHang] [int] NULL,
	[Gia] [decimal](18, 2) NULL,
	[SoLuong] [int] NULL,
	[MoTa] [nvarchar](max) NULL,
	[AnhBia] [nvarchar](100) NULL,
	[NgayCapNhat] [datetime] NULL,
	[SoLuotXem] [int] NULL,
	[CPU] [nvarchar](100) NULL,
	[RAM] [nvarchar](50) NULL,
	[OCung] [nvarchar](100) NULL,
	[ManHinh] [nvarchar](100) NULL,
	[VGA] [nvarchar](100) NULL,
	[HDH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLaptop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiLaptop]    Script Date: 1/1/2026 3:26:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiLaptop](
	[MaLoai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Admin] ([TenDN], [MatKhau], [HoTen]) VALUES (N'admin', N'123456', N'Quản trị viên')
GO
INSERT [dbo].[CTDatHang] ([MaLaptop], [SoDH], [SoLuong], [DonGia], [ThanhTien]) VALUES (1, 2, 1, CAST(18490000.00 AS Decimal(18, 2)), CAST(18490000.00 AS Decimal(18, 2)))
INSERT [dbo].[CTDatHang] ([MaLaptop], [SoDH], [SoLuong], [DonGia], [ThanhTien]) VALUES (1, 3, 1, CAST(18490000.00 AS Decimal(18, 2)), CAST(18490000.00 AS Decimal(18, 2)))
INSERT [dbo].[CTDatHang] ([MaLaptop], [SoDH], [SoLuong], [DonGia], [ThanhTien]) VALUES (1, 4, 1, CAST(18490000.00 AS Decimal(18, 2)), CAST(18490000.00 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[DonDatHang] ON 

INSERT [dbo].[DonDatHang] ([SoDH], [MaKH], [NgayDH], [TriGia], [DaGiao], [NgayGiao]) VALUES (1, 1, CAST(N'2025-12-31T08:32:03.783' AS DateTime), CAST(38489000.00 AS Decimal(18, 2)), 1, CAST(N'2025-12-31T08:34:26.993' AS DateTime))
INSERT [dbo].[DonDatHang] ([SoDH], [MaKH], [NgayDH], [TriGia], [DaGiao], [NgayGiao]) VALUES (2, 1, CAST(N'2025-12-31T17:32:57.427' AS DateTime), CAST(20339000.00 AS Decimal(18, 2)), 1, CAST(N'2025-12-31T23:00:52.273' AS DateTime))
INSERT [dbo].[DonDatHang] ([SoDH], [MaKH], [NgayDH], [TriGia], [DaGiao], [NgayGiao]) VALUES (3, 1, CAST(N'2025-12-31T17:41:06.817' AS DateTime), CAST(20339000.00 AS Decimal(18, 2)), 1, CAST(N'2025-12-31T23:00:47.810' AS DateTime))
SET IDENTITY_INSERT [dbo].[DonDatHang] OFF
GO
SET IDENTITY_INSERT [dbo].[HangSanXuat] ON 

INSERT [dbo].[HangSanXuat] ([MaHang], [TenHang], [DiaChi], [DienThoai]) VALUES (1, N'Asus', N'Taiwan', NULL)
INSERT [dbo].[HangSanXuat] ([MaHang], [TenHang], [DiaChi], [DienThoai]) VALUES (2, N'Dell', N'USA', NULL)
INSERT [dbo].[HangSanXuat] ([MaHang], [TenHang], [DiaChi], [DienThoai]) VALUES (3, N'HP', N'USA', NULL)
SET IDENTITY_INSERT [dbo].[HangSanXuat] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([MaKH], [HoTenKH], [DiaChi], [DienThoai], [TenDN], [MatKhau], [NgaySinh], [Email]) VALUES (1, N'thach', N'vdfxbbg gfdgb', N'0906554654', N'thachhien', N'123456', NULL, N'thachhien2000@gmail.com')
INSERT [dbo].[KhachHang] ([MaKH], [HoTenKH], [DiaChi], [DienThoai], [TenDN], [MatKhau], [NgaySinh], [Email]) VALUES (2, N'bin bin', NULL, N'0906891700', N'binbin', N'123456', NULL, N'thachhien2000@gmail.com')
INSERT [dbo].[KhachHang] ([MaKH], [HoTenKH], [DiaChi], [DienThoai], [TenDN], [MatKhau], [NgaySinh], [Email]) VALUES (3, N'scsc', NULL, N'0906554654', N'scsc', N'123456', NULL, N'thachhien2000@gmail.com')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[Laptop] ON 

INSERT [dbo].[Laptop] ([MaLaptop], [TenLaptop], [MaLoai], [MaHang], [Gia], [SoLuong], [MoTa], [AnhBia], [NgayCapNhat], [SoLuotXem], [CPU], [RAM], [OCung], [ManHinh], [VGA], [HDH]) VALUES (1, N'HP Victus 15-fa1139TX ok', 1, 3, CAST(18490000.00 AS Decimal(18, 2)), 7, N'Gaming quốc dân', N'hp_victus.jpg', CAST(N'2026-01-01T14:17:38.437' AS DateTime), 0, N'i5-12450H', N'16GB', N'512GB SSD', N'15.6" 144Hz', N'RTX 2050', N'Win 11')
INSERT [dbo].[Laptop] ([MaLaptop], [TenLaptop], [MaLoai], [MaHang], [Gia], [SoLuong], [MoTa], [AnhBia], [NgayCapNhat], [SoLuotXem], [CPU], [RAM], [OCung], [ManHinh], [VGA], [HDH]) VALUES (2, N'MSI Katana 15 B13VGK', 1, 5, CAST(34990000.00 AS Decimal(18, 2)), 5, N'Chiến game AAA', N'msi_katana.jpg', CAST(N'2025-12-31T01:28:15.667' AS DateTime), 0, N'i7-13620H', N'16GB', N'1TB SSD', N'15.6" 144Hz', N'RTX 4070', N'Win 11')
INSERT [dbo].[Laptop] ([MaLaptop], [TenLaptop], [MaLoai], [MaHang], [Gia], [SoLuong], [MoTa], [AnhBia], [NgayCapNhat], [SoLuotXem], [CPU], [RAM], [OCung], [ManHinh], [VGA], [HDH]) VALUES (3, N'Dell Inspiron 15 3520', 2, 2, CAST(12990000.00 AS Decimal(18, 2)), 25, N'Bền bỉ cho sinh viên', N'dell_3520.jpg', CAST(N'2025-12-31T01:28:15.667' AS DateTime), 0, N'i5-1235U', N'8GB', N'512GB SSD', N'15.6" 120Hz', N'UHD Graphics', N'Win 11')
SET IDENTITY_INSERT [dbo].[Laptop] OFF
GO
SET IDENTITY_INSERT [dbo].[LoaiLaptop] ON 

INSERT [dbo].[LoaiLaptop] ([MaLoai], [TenLoai]) VALUES (1, N'Gaming')
INSERT [dbo].[LoaiLaptop] ([MaLoai], [TenLoai]) VALUES (2, N'Văn phòng - Học tập')
INSERT [dbo].[LoaiLaptop] ([MaLoai], [TenLoai]) VALUES (3, N'Đồ họa - Kỹ thuật')
SET IDENTITY_INSERT [dbo].[LoaiLaptop] OFF
GO
ALTER TABLE [dbo].[DonDatHang] ADD  DEFAULT (getdate()) FOR [NgayDH]
GO
ALTER TABLE [dbo].[DonDatHang] ADD  DEFAULT ((0)) FOR [DaGiao]
GO
ALTER TABLE [dbo].[Laptop] ADD  DEFAULT ((0)) FOR [SoLuong]
GO
ALTER TABLE [dbo].[Laptop] ADD  DEFAULT (getdate()) FOR [NgayCapNhat]
GO
ALTER TABLE [dbo].[Laptop] ADD  DEFAULT ((0)) FOR [SoLuotXem]
GO
ALTER TABLE [dbo].[CTDatHang]  WITH CHECK ADD FOREIGN KEY([MaLaptop])
REFERENCES [dbo].[Laptop] ([MaLaptop])
GO
ALTER TABLE [dbo].[CTDatHang]  WITH CHECK ADD FOREIGN KEY([SoDH])
REFERENCES [dbo].[DonDatHang] ([SoDH])
GO
ALTER TABLE [dbo].[DonDatHang]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[Laptop]  WITH CHECK ADD FOREIGN KEY([MaHang])
REFERENCES [dbo].[HangSanXuat] ([MaHang])
GO
ALTER TABLE [dbo].[Laptop]  WITH CHECK ADD FOREIGN KEY([MaLoai])
REFERENCES [dbo].[LoaiLaptop] ([MaLoai])
GO
USE [master]
GO
